@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="text-center">
    <h4>Hakkımda Bilgileri</h4>
</div>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Hakkımda Metin 1</th>
        <th>Hakkımda Metin 2</th>
        <th>Hakkımda Görsel 1</th>
        <th>Hakkımda Görsel 2</th>
        <th>Aktif</th>
        <th>Pasif</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutDetails1</td>
            <td>@item.AboutDetails2</td>
            <td>@item.AboutImage1</td>
            <td>@item.AboutImage2</td>
            <td><a href="/AdminAbout/DeleteAbout/@item.AboutId" class="btn btn-outline-success">Aktif Yap</a></td>
            <td><a href="/AdminAbout/DeleteAbout/@item.AboutId" class="btn btn-outline-danger">Pasif Yap</a></td>
            <td><a href="/AdminAbout/UpdateAbout/@item.AboutId" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
    }

</table>
@Html.Action("AboutPartial","AdminAbout")